extends ../../base
block defaultVars
    -
        var why = [{
            title: 'Одна производственная площадка',
            text: 'Работы по металлообработке и механообработке выполняются на одной производственной площадке, что существенно сокращает стоимость услуг.'
        }, {
            title: 'Новые технологии',
            text: 'Компания постоянно расширяет перечень услуг, например, с начала 2021 года были добавлены новые услуги – лазерная 3D резка труб и гидроабразивная резка.'
        }, {
            title: 'Минимальные сроки',
            text: 'Круглосуточное производство обеспечивает выполнение заказов в минимальные сроки, независимо от степени сложности и объемов работ.'
        }, {
            title: 'Исполнение срочных заказов',
            text: 'Имеется возможность исполнения срочных заказов (в день обращения).'
        }, {
            title: 'Контроль качества',
            text: 'При выполнении заказов на всех этапах производства проводится многоступенчатый, межоперационный и выходной контроль качества.'
        }, {
            title: 'Гарантия',
            text: 'На все услуги распространяется гарантия от 12 месяцев.'
        }, {
            title: 'Хорошие скидки',
            text: 'При больших объемах заказа предоставляются хорошие скидки.'
        }, {
            title: 'Оплата любым удобным способом',
            text: 'Наши клиенты могут оплачивать услуги любым удобным способом: по безналичному расчету, с помощью банковского перевода, пластиковыми картами или наличными средствами.'
        }, {
            title: 'Высокий уровень услуг',
            text: 'Отзывы от наших клиентов – частных лиц, а также владельцев больших и малых предприятий – свидетельствуют о высоком качестве оказываемых услуг и уровне обслуживания клиентов.'
        }]
    -
        var steps = [{
            title: 'Оставьте заявку <br>на изготовление',
            text: 'И наш менеджер свяжется <br>с вами в самое ближайшее <br>время'
        }, {
            title: 'Предоставьте <br class="vis767">конструкторскую <br class="vis767">документацию',
            text: '(эскиз, чертеж, 3D модель). <br>Дождитесь расчета стоимости <br>и сроков изготовления'
        }, {
            title: 'Подпишите <br>договор',
        }, {
            title: 'Оплатите <br>заказ',
        }]
    -
        var reviews = [{
            title: 'Заказ No 02-055 (Кронштейны крепежные)',
            text: 'Заказывали партию крепежных кронштейнов, детали изготовлены в соответствии с конструкторской документацией и в указанный срок. Благодарим коллектив компании за проделанную работу, будем обращаться с новыми заказами.'
        }, {
            title: 'Заказ No 06-074 (Панель передняя)',
            text: 'Обращались в компанию для изготовления фрезерованных панелей, из исходных данных была только 3-D модель, конструктор согласовал с нами детали заказа подготовил всю необходимую для изготовления документацию. Результатом работы очень довольны. Рекомендуем.'
        }, {
            title: 'Заказ No 02-037 (Комплект деталей)',
            text: 'Размещали заказ на комплект деталей с последующей сборкой готового изделия, работа выполнена на отлично, сотрудники компании сдали нам работу и дали свои рекомендации по изготовлению остальных комплектов, большая благодарность за такой профессиональный подход к делу.'
        }, {
            title: 'Заказ No 03-021 (Разработка изготовление корпусов)',
            text: 'Заключали договор на разработку и изготовление двух корпусов для пультов управления. Для разработки было предоставлено техническое задание на проектирование. На выходе получили 2 готовых изделия и полный комплект КД. Заказчик очень доволен, огромное спасибо за работу.'
        }, {
            title: 'Заказ No 04-011 (Токарные детали)',
            text: 'Обращались с заказом на токарную обработку, качество отличное. Все указанные размеры, допуски выдержаны. Тираж деталей был большой, отгружали заказ равными частями, все сроки соблюдали. Сотрудничеством и компанией очень довольны.'
        }, {
            title: 'Заказ No 01-018 (Раскрой алюминия)',
            text: 'Заказывали раскрой алюминиевых листов, работа была выполнена быстро и по разумным ценам, полученные заготовки соответствуют всем нашим требованиям. Спасибо.'
        }, {
            title: 'Заказ No 02-037 (Токарная обработка штуцеров)',
            text: 'Делали заказ на изготовление проходных штуцеров из нержавейки, качество обработки на высшем уровне, после размещения заказа вносились изменения в чертежи, ребята подстроились, отдельное спасибо за это и за всю проделанную работу.'
        }, {
            title: 'Заказ No 04-028 (Комплекты пром. фурнитуры)',
            text: 'Заключали договор на поставку комплектов крепежной фурнитуры по нашим чертежам, сотрудники компании быстро выполнили расчет, цены более чем адекватные. С поставленной задачей справились. Менеджер всегда был с нами на связи и отвечал на возникающие у нас вопросы. Впечатления о работе очень приятные.'
        }, {
            title: 'Заказ No 05-016 (Каркасы сварные)',
            text: 'Заказывали изготовление сварных каркасов в кол-ве 85 шт., из документации на изготовление были только эскизы и наши пожелания по конструкции. Конструктора разработали комплект КД для производства изделий с учетом всех наших пожеланий. Изделия изготовили и доставили, спасибо за работу.'
        }, {
            title: 'Заказ No 07-031 (Лицевые приборные панели)',
            text: 'Обращались с заказом на изготовление приборных панелей из алюминия с последующей лазерной гравировкой надписей, символов. Согласовали сроки выполнения, стоимость, подписали договор. Работа сдана в срок - качество полученных деталей отличное. Спасибо.'
        }]
block content
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    .main
        .block
            h1.main__title Металлообработка <br>Полный спектр <br>услуг
            a.btn.btn_blue.js-callback(href='#') Оставить заявку
    .services#services
        .block.block_padding
            h2.main-title Услуги компании
            p.services__desc Вам не придется заказывать отдельные услуги в разных компаниях. Все свои идеи вы сможете реализовать прямо здесь, потому что мы выполняем полностью все виды услуг, которые могут понадобиться клиенту. Расчет стоимости услуг производится по конструкторской документации, предоставленной заказчиком.
            ul.services__list
                each entry, index in [['Лазерная <br>резка металла', '/k/price/lazernaya_rezka.html'], ['Лазерная 3D <br>резка труб', '/k/price/lazernaya_3d_rezka.html'], ['Гидроабразивная <br>резка', '/k/price/gidroabraziv.html'], ['Координатно-пробивные работы', '/k/price/koordinat.html'], ['Гибка металла', '/k/price/gibka.html'], ['Сварка', '/k/price/svarka.html'], ['Приварка <br>крепежа', '/k/price/privarka.html'], ['Запрессовка <br>крепежа и метизов', '/k/price/zapressovka.html'], ['Токарные <br>работы', '/k/price/tokarnye.html'],]
                    li.services__entry
                        .entry__img
                            img(src='/img/service_0' + (index + 1) + '.svg' alt='')
                        a(href='#' data-url=entry[1])!=entry[0]
                each entry, index in [['Фрезерные <br>работы', '/k/price/frezernye.html'], ['Обработка <br>не металлических материалов', '/k/price/nemetall.html'], ['Слесарные работы', '/k/price/slesarnye.html'], ['Нанесение надписей, гравировка', '/k/price/gravirovka.html'], ['Порошковая <br>окраска металла', '/k/price/okraska.html'], ['Нанесение гальванических покрытий', '/k/price/galvanika.html'], ['Сборка металлоизделий', '/k/price/sborka.html']]
                    li.services__entry
                        .entry__img
                            img(src='img/service_' + (index + 10) + '.svg' alt='')
                        a(href='#' data-url=entry[1])!=entry[0]
    .why#why
        .block.block_padding
            .why__title
                img(src='/img/why_9.png')
                | Причин, почему <br>выгодно <br>заказывать
            .why__list
                each entry, index in why
                    .why__entry
                        .entry__title=entry.title
                        .entry__text=entry.text
            a.why-show-more(href='#') Показать ещё
            .btn-container
                button.btn.btn_sm.btn_white.js-callback Оставить заявку
    .round_bg
        .about#about
            .block.block_padding
                .about__container
                    .about__left
                        h2.main-title О компании
                        .about__subtitle Только за первое полугодие 2021 года было выпущено
                            span  более
                                nobr  100 000
                            |  <br>единиц готовой продукции.
                        p Компания G-METHOD выполняет заказы по обработке металлов для клиентов Санкт-Петербурга, Ленинградской области и других регионов страны.
                        p На сайте представлена большая&nbsp; <br class='vis767'>
                            a.js-scrollto-gallery(href='#') фотогалерея выполненных работ
                            | .
                        button.btn.btn_sm.btn_blue.js-callback Оставить заявку
                    .about__right
                        img(src='/img/about_img.jpg' alt='')
        .equipment.block_padding#equipment
            .block
                h2.main-title Наше оборудование
                .equipment__subtitle Все операции по обработке металлов выполняются <br>на&nbsp;
                    span высокоточном современном оборудовании
                    |  <br>с числовым программным управлением (ЧПУ) известных мировых производителей
            .equipment__list
                each entry in [1,2,3,4,1,2,3,4,1,2,3,4]
                    img(src='/img/partner_0' + entry + '.png' alt='')
        .steps#steps
            .block.block_padding
                h2.main-title Этапы работ
                .steps__list
                    each entry, index in steps
                        .steps__entry
                            .entry__icon
                                img(src='/img/step_0' + (index + 1) + '.svg' alt='')
                            .entry__step шаг #{index + 1}
                            .entry__title!=entry.title
                            - if (entry.text)
                                .entry__text!=entry.text
    .works#works
        .block.block_padding
            h2.main-title Примеры работ
            .works__list
                .works__entry
                    each entry in [1,2,3,4,5,6]
                        a.works__lnk.gallery__lnk(href='/img/works/' + (entry) + '.jpg' data-lightbox="works")
                            img(src='/img/works/' + (entry) + '.jpg' alt='')
                .works__entry
                    each entry in [7,8,9,10,11,12]
                        a.works__lnk.gallery__lnk(href='/img/works/' + (entry) + '.jpg' data-lightbox="works")
                            img(src='/img/works/' + (entry) + '.jpg' alt='')
                .works__entry
                    each entry in [13,14,15,16,17]
                        a.works__lnk.gallery__lnk(href='/img/works/' + (entry) + '.jpg' data-lightbox="works")
                            img(src='/img/works/' + (entry) + '.jpg' alt='')
    .reviews#reviews.block_padding
        .block
            h2.main-title Отзывы
            p Наши клиенты честно рассказывают о выгоде работы с нами
            button.reviews__arr.reviews__arr_prev
            button.reviews__arr.reviews__arr_next
            .reviews__list
                each entry in reviews
                    .reviews__entry
                        .entry__text
                            .entry__title=entry.title
                            p=entry.text
    .contacts#contacts
        .block.block_padding
            h2.main-title Контакты
            p Технический отдел &mdash; обработка заявок
            .contacts__container
                .contacts__left
                    .contacts__list
                        .contacts__entry
                            .entry__title Телефон
                            a(href='tel:+78123345887') +7 (812) 334-58-87
                            | ,<br>
                            a(href='tel:+79643345888') +7 (964) 334-58-88
                        .contacts__entry
                            .entry__title Почта
                            a(href='mailto:info@g-method.ru') info@g-method.ru
                        .contacts__entry
                            .entry__title Адрес
                            p г. Санкт-Петербург, 194356, <br>Береговая ул. (Шувалово) дом 26 офис 13Н
                .contacts__ask
                    .ask__title Остались вопросы?
                    p Оставьте заявку и наш менеджер свяжется с вами в самое <br>ближайшее время
                    button.btn.btn_sm.btn_white.js-callback Оставить заявку
            .contacts__map#contacts-map
    form.form(data-url='/')
        .loading.loading-default
            .loading__inner
        .block.block_padding
            h2.main-title Оставьте заявку прямо сейчас
            p Наш менеджер свяжется с вами в самое ближайшее время
            include ../../components/form
